.content{
		margin: 0px 0px 0px 20px;
		padding: 0px 0px 20px 0px;
		color: #141313e8;
		font-style: italic;
		font-size: 15px;
}
.footer{
		margin: 0px 0px 0px 20px;
		padding: 0px 0px 20px 0px;
		color: #141313e8;
		font-variant: bold;
		font-size: 15px;
}


